
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - BACKEND_PORT=5000
      - FRONTEND_PORT=5173
      - MONGO_URI=mongodb://mongo:27017/bossflow
      - MONGODB_URI=mongodb://mongo:27017/bossflow
      - JWT_SECRET=your_jwt_secret_key
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
