services:
  backend:
    build:
      context: ./backend
    environment:
      SENTRY_DSN: ${SENTRY_DSN}
      NODE_ENV: production
      BACKEND_PORT: 5000
      MONGO_URI: mongodb://mongo:27017/bossflow
      JWT_SECRET: b0ssfl0w_2025_d4n1_4l3j4ndr0_j3sus_d1c13mbr3_s3cr3t_d3crypt_t0k3n
    depends_on:
      mongo:
        condition: service_started
    restart: unless-stopped
    networks:
      - app-network
    # Publicar el puerto para que el backend sea accesible desde el host
    ports:
      - "5000:5000"
    expose:
      - "5000"

  frontend:
    build:
      context: ./frontend
      # En producción no inyectamos la URL del API: el frontend usará rutas relativas '/api'
      # y Nginx se encargará del proxy interno a backend.
      args:
        VITE_API_URL: ""
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

  mongo:
    image: mongo:4.4
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
    networks:
      - app-network
    expose:
      - "27017"

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
