# Ignorar dependencias y builds
node_modules
npm-debug.log
yarn-error.log
*.log

# Variables de entorno y secretos
.env
.env.local
.env.*.local

# IDE / sistema
.vscode
.idea
.DS_Store
Thumbs.db

# Cachés y cobertura
coverage
dist
build

# Git
.git
